
    /* Main Section*/

main {
  display:flex
}

.leftcolumn {
  width: 630px;
}

.middlecolumn {
  width: 300px;
}

.rightcolumn {
  width: 240px;
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
