* {
  box-sizing: border-box;
}





/*
.line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  color: white;
  font-weight: lighter;
  font-size:20px;
  padding-left: 20px;
}

.navigation1 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:black;
  margin: 10px;
  padding-right:60px;
}
*/

  /*Header Section*/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position:fixed;
  background-color:white;
  width:100%;
  z-index:5;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;;
  border-bottom: 2px solid black;
  padding:20px;
}

.logo {
  display: flex;
  color:MediumAquamarine;
  align-items:center;
  padding-left:20px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    color: black;
    margin: 10px;
    padding-right: 60px;
}

.MyTimes {
  padding-left:10px;
}

.black {
  color:black;
  margin: 10px;
}

    /* Main Section */
main {
  display:flex;
  position:relative;
  height:auto;
  top:90px;
  /*bottom:90px;*/
  justify-content: space-around;
  overflow:hidden;
  padding-top: 40px;
  margin-bottom: 150px;
}

        /* Left Column */
.leftcolumn {
  display:flex;
  flex-direction: column;;
  width: 630px;
  margin-right:10px;
}


 .MotherofThree {
   display:flex;
   flex-direction: row;
   align-items: center;
   text-align:left;
   /*justify-content: flex-start;*/
   flex-direction:column;
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
   height:300px;
   color:white;
   overflow:hidden;
   font-family: Georgia;
   font-size: 40px;
   font-weight:bold;
}

.MotherofThree p {
   padding-left:18px;
}

.flexgrow{
  flex-grow:2;
  flex-shrink:2;
}

.MonumentVally{
  display:flex;
  flex-direction: row;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.Vacation {
  display:flex;
  flex-direction:row;
  display:block;
  justify-content: center;
  align-items:flex-start;
  width: 300px;
  order:1;
}

.Vacation h2 {
  font-family: Georgia;
  color: black;
  flex-grow:2;
  margin:10px;
}

.Vacation p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.Earth {
  display:inline-flex;
  flex-direction:row;
  /*justify-content: center;*/
  align-items: center;
  text-align:center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height:300px;
  width:290px;
  color:white;
  overflow:hidden;
  font-family: Georgia;
  font-size: 30px;
  font-weight:bold;
  order:3;
}

.test {
  display:inline-flex;
  justify-content: space-between;
  flex-wrap:wrap;
  flex-direction: row;
  width: 630px;
}
/*
.Earth span {
  align-items:center;
}*/

.Burger {
  display:inline-flex;
  display:inline;
  flex-direction:row;
  justify-content: flex-end;
  width:300px;
  order:2;
}


.Burger p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.ResearchShows {
  display:flex;
  flex-direction: row;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height:300px;
  width:292px;
  color:white;
  overflow:hidden;
  font-family: Georgia;
  font-size: 30px;
  font-weight:bold;
  order:4;
}

.ResearchShows p {
  text-align:center;
}

            /*Middle Column*/
.middlecolumn {
  display:inline-flex;
  flex-direction:column;
  width: 300px;
  margin-right:40px;
  margin-left:40px;
}

.ActionStar p {
  font-family: Georgia;
  font-size: 17px;
  color: black;

}

/*
.ActionStar {
  display:flex;
  align-items:flex-start;
  height:140px;
}*/

.CatControl {
   display:flex;
   align-items:center;
   text-align:center;
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
   height:300px;
   color:white;
   overflow:hidden;
   font-family: Georgia;
   font-size: 30px;
   font-weight:bold;
}

.Brooklyn {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

          /*Right Column*/
.rightcolumn {
  display:flex;
  flex-direction: column;
  width: 240px;
  /*flex: 2 2;*/
}

.cookie {
  display:flex;
  align-items:center;
  flex-direction: column;
}

.NewsBites {
  display: flex;
  flex-direction: column;
  align-items:center;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.HotStories{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  text-align:left;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border:bottom;
  margin:0;
}

.HotStories p{
  border-bottom: 1px solid black;
}

       /* Footer */

footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  align-items: center;
  text-align:center;
  margin:0;
  font-family: Verdana;
  font-size: 12px;
  height:200px;
}

.footernavigation {
  display:inline-block;
}

.footerlogo {
 display:inline-block;
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
}

.line {
  display:inline-block;
  padding-right:15px;
  padding-left:10px;
  color:white;
  font-size:20px;
  font-family: Georgia;
}

.copyright {
  display:block;
}
